
* {
margin: 0;
padding: 0;}

.anabele{
width: 200px;
height: 25px;
font-weight: bold;
background-color: rgb(0, 250, 62);
border-radius: 50px;

}

#contact{
    text-align: center;
    margin-top: 50px;
}

button{cursor: pointer;
    border: none;
    font-size: 13px;
    font-weight: bold;}
button:hover{
    background-color: rgb(1, 88, 23);
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

       body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #333;
            color: #ffffff;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 1rem 0;
            text-align: center;
        }
        nav {
            
            text-align: center;
            position: fixed;
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: #000000;
            padding: 1rem 0;
            top: 0;
            z-index: 1000;
        }
        nav a {
            color: #fff;
            text-decoration: none;
            margin: 0 1rem;
        }
        section {
            padding: 2rem;
            max-width: 800px;
            margin: 0 auto;
        }
        .project {
            margin-bottom: 2rem;
        }
       
        p {
           color: white;
        }
        a {
            color: rgb(183, 0, 255);
            text-decoration: none;
        }
.lucas{

   display: flex;
   width: 12rem ;
    height: 12rem;
   border-radius: 50%;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#projects{
    height: 100vh;
}
footer{
    position: absolute;
    background-color: #000000;
    width: 100%;
    padding: 15px;
    left: -10px;
    text-align: center;
    margin-top: 50px;
}
@media screen  and (max-width: 420px){
    .txt{
        text-align: center;
       width: 50%;
      }

      nav{width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
      }
      nav>a{
        align-items: center;
        margin-left: 50px;
      }
      .lucas{
        position: absolute;
        top: 150px;
        width: 8rem ;
        height: 8rem;
      }
   .main{
    margin-top: -10px;
    height: 100vh;
   }
   #figma{
    position: relative;
    top: 62px;
    right: 58%;
   }
   .uniforme{
    width: 90%;
   }
 .anabele{
    width: 150px;
    height: 30px;
    font-size: 12px;
font-weight: bold; 
}

}